$fuente-principal: 'Segoe UI';
$naranja-oscuro: #e6a467;
$gris-claro: #525151;
$gris-claro-dos: #eeeeee;
$degradado: radial-gradient(circle at 68.3% -18.3%, #ffac90 0, #ff9e8a 16.67%, #ff8c81 33.33%, #f57676 50%, #e7606c 66.67%, #db4c67 83.33%, #d23c66 100%);
$blanco: white;
$negro: black;
$fondo-degradado: linear-gradient(115deg, #ffdadf 0, #ffdada 6.25%, #ffdbd5 12.5%, #ffdcd1 18.75%, #ffddcd 25%, #ffdec9 31.25%, #ffe0c6 37.5%, #ffe1c4 43.75%, #ffe3c2 50%, #fae5c1 56.25%, #f5e6c1 62.5%, #f0e8c1 68.75%, #eaeac2 75%, #e4ebc4 81.25%, #deedc7 87.5%, #d8eeca 93.75%, #d3efce 100%);