.main__tour{
	background-color: white;
}

.imagenPrincipalTour {
	padding: 0;
}

.proximosShows__tour {
	display: flex;
	justify-content: center;
 	background-image: $fondo-degradado;
 	align-items: center;
	padding: 100px;
}

.proximosShowsGeneral--tour{
	display: block;
	text-align: center;
	width: 1200px;
}

.shows__tickets--item--tour{
 	margin-bottom: 0;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	font-size: 18px;
 	a {
 		text-decoration: none;
 		font-style: italic;
 		color: $naranja-oscuro;
 	}
}
